<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image processing API</title>
</head>

<body style="background-color:wheat">
  <div style="text-align: center">
    <h1>Welcome</h1>
    <p>Listening at
      <a href="/api/images">/api/images</a>
    <p>
      parameters should be like that:
    <div>
      <h3>no resizing: </h3>
      <a href="/api/images?filename=imgname">
        /api/images?filename=imgname
      </a>
    </div>
    <div>
      <h3>resizing: </h3>
      <a href="/api/images?filename=imgname&width=x&height=y">
        /api/images?filename=imgname&width=x&height=y
      </a>
    </div>
    </p>
  </div>
</body>

</html>